body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(173, 16, 16);
    margin-left: 20px;
  }

  .flex-container {
    display: flex;
    background-color: black;
  }

  .flex-container > div {
    background-color:rgb(15, 11, 11);
    color: azure;
}